In [10]:
import pandas as pd

In [2]:
path = '2019/2019-01'

january = pd.read_parquet(f'{path}.parquet')

## Fontos oszlopok kiválasztása

In [6]:
january = january[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'PULocationID',
                             'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'tip_amount', 'total_amount']]

## Outlierek kiszűrése

In [11]:
january = january.query(
    '("2019-01-01" <= tpep_pickup_datetime) & (tpep_pickup_datetime <= "2019, 1, 31") &'
    '("2019-01-01" <= tpep_dropoff_datetime) & (tpep_dropoff_datetime <= "2019, 1, 31") &'
    '(passenger_count.quantile(.05) <= passenger_count) & (passenger_count <= passenger_count.quantile(.95)) &'
    '(trip_distance.quantile(.05) <= trip_distance) & (trip_distance <= trip_distance.quantile(.95)) &'
    '(fare_amount.quantile(.05) <= fare_amount) & (fare_amount <= fare_amount.quantile(.95)) &'
    '(extra.quantile(.05) <= extra) & (extra <= extra.quantile(.95)) &'
    '(tip_amount.quantile(.05) <= tip_amount) & (tip_amount <= tip_amount.quantile(.95)) &'
    '(total_amount.quantile(.05) <= total_amount) & (total_amount <= total_amount.quantile(.95))'
)

january

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,tip_amount,total_amount
0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,151,239,1,7.0,0.5,1.65,9.95
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,239,246,1,14.0,0.5,1.00,16.30
7,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.30,163,229,1,6.5,0.5,1.25,9.05
8,2019-01-01 00:32:01,2019-01-01 00:45:39,1.0,3.70,229,7,1,13.5,0.5,3.70,18.50
9,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.10,141,234,1,10.0,0.5,1.70,13.00
...,...,...,...,...,...,...,...,...,...,...,...
7517545,2019-01-30 22:45:09,2019-01-30 22:55:33,1.0,1.95,229,107,2,9.0,0.0,0.00,9.80
7517547,2019-01-30 23:02:47,2019-01-30 23:09:11,1.0,0.83,79,113,1,6.0,0.0,1.20,8.00
7533326,2019-01-30 22:50:53,2019-01-30 22:55:28,1.0,0.79,79,113,1,5.0,0.0,1.16,6.96
7533327,2019-01-30 23:00:55,2019-01-30 23:10:04,1.0,1.25,211,79,1,7.5,0.0,2.08,10.38
7533328,2019-01-30 23:28:37,2019-01-30 23:38:42,1.0,1.92,137,114,1,9.0,0.0,1.96,11.76